body {
  font-family: "Roboto Mono", monospace;
  background-color: grey;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.name {
  text-align: center;
}

.calculator {
  height: 300px;
  width: 250px;
  margin: auto;
  margin-left: auto;
  margin-right: auto; 
/*  background-image: url("assets/images/Black-And-White-Calculator.svg");*/
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 15px;
  padding-top: 30px;
}

.result_number {
  color: red;
  height: 30px;
  width: 200px;
  font-size: 2rem;
  margin: auto;
  text-align: right;
  border-radius: 10px;
  background-color: #FFF;
  padding: 15px 10px 15px 0px;
}

.buttonsCalc {
  width: 220px;
  margin: auto;
  margin-top: 1vw;
  height: 210px;
  text-align: right;
  padding: 1vh 0vh 0px 3vh;
}

.btCalc {
  width: 40px;
  height: 40px;
  border: 3px outset gold;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 4px;
  margin-right: 6px;
  float: left;
  text-align: center;
  font-size: 33px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #FFF;
}

.btCalc:hover {
  border: 3px inset gold;
  cursor: pointer;
}

.btCalc:active {
  border: 3px inset brown;
}

.btOpt {
  background-color: rgba(253, 225, 66, 0.856);
}

.btEqual {
  background-color: rgba(0, 255, 8, 0.795);
}
